<table border="1 px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Avatar</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>IsAdmin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td><img *ngIf="user.avatar != null; else elseBlock" src={{user.avatar}} alt="" width="20px" height="20px"></td>
            <ng-template #elseBlock><img src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" alt="" width="20px" height="20px"></ng-template>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.isAdmin}}</td>
        </tr>
    </tbody>
</table>