<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="changePassword(loginForm.value)" >
      <h1>Change password:</h1>
      <span #invalidLogin id="invalid"></span>


      <mat-form-field floatLabel="always" hideRequiredMarker style="display: block">
        <label for="oldPassword">Old Password</label>
        <mat-label></mat-label>
        <input matInput type="password" placeholder="Old Password*" formControlName="oldPassword" />
        <div>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['minlength']">
            Password has to be at least 8 characters long.
          </small>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['maxlength']">
            Password can't be more than 20 characters long.
          </small>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['lowercaseLetterCheck']">
              Password has to contain at least one lowercase letter.
          </small>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['uppercaseLetterCheck']">
            Password has to contain at least one uppercase letter.
          </small>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['digitCheck']">
            Password has to contain at least one digit.
          </small>
          <small *ngIf="loginForm.get('oldPassword')?.errors?.['specialCharCheck']">
            Password has to contain at least one special character.
        </small>
        </div>
    </mat-form-field>


      <mat-form-field floatLabel="always" hideRequiredMarker style="display: block">
        <label for="newPassword">New Password</label>
        <mat-label></mat-label>
        <input matInput type="password" placeholder="New Password*" formControlName="newPassword" />
        <div>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['minlength']">
            Password has to be at least 8 characters long.
          </small>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['maxlength']">
            Password can't be more than 20 characters long.
          </small>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['lowercaseLetterCheck']">
              Password has to contain at least one lowercase letter.
          </small>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['uppercaseLetterCheck']">
            Password has to contain at least one uppercase letter.
          </small>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['digitCheck']">
            Password has to contain at least one digit.
          </small>
          <small *ngIf="loginForm.get('newPassword')?.errors?.['specialCharCheck']">
            Password has to contain at least one special character.
        </small>
        </div>
    </mat-form-field>
    <button mat-raised-button>Set New Password</button>
  </form>