

<div class="network">
    <div #vk id="vk_share_button">
        <a href="https://vk.com/share.php?url=http://localhost:4200/typo/account"><img src="https://typostorage.blob.core.windows.net/avatars/VK_Compact_Logo_(2021-present).svg.png" alt=""></a>
    </div>
    <img id="telegram" (click)="telegramWindowOpen()" src="https://cdn.worldvectorlogo.com/logos/telegram-1.svg" alt="">


    
</div>

<!-- <script type="text/javascript">
    document.write(VK.Share.button({url: "https://", {type: "custom", text: "<img src='https://vk.com/images/share_32_2x.png' width='32' height='32' alt='share icon' />"}}));
</script> -->

