<div class="container">
    <div class="textbox unselectable" #textbox>
        {{textContent!}}
    </div>
    <div class="input">
        <input
            id="input"
            type="text"
            class="input-text"
            [(ngModel)]='myValue'
            (input)="inputStart(myValue)"
            (copy)="false"
            (capsLock)="capsOn=$event"
            (paste)="false"
            (cut)="false"
            placeholder="Type in your first letter..."
            value=""
            autofocus
            autocomplete="off"
            #mainInput
        />
    </div>
    <div class="bar">
        <div class="input-line">
            <input style="width: 0.2%" id="input-progress" #inputProgress type="text" readonly class="input-progress"/>
        </div>
    </div>
    <div class="keyboard">
        <app-keyboard [nextLetter]="nextLetter" [mainInput]="mainInput" [capsFlag]="capsFlag"></app-keyboard>
    </div>
    <div class="finished">
        
    </div>
</div>


