<div class="container">
    <div class="textbox unselectable">
        {{textContent!}}
    </div>
    <div class="input">
        <input id="input" type="text" class="input-text" placeholder="Type in your first letters..." value="" autofocus autocomplete="off">
    </div>
    <div class="bar">
        <div class="input-line">
            <input style="width: 0.2%" id="input-progress" type="text" readonly class="input-progress"/>
        </div>
    </div>
    <div class="keyboard">

    </div>
</div>


