<div id="container" class="container">
  <img src="https://typostorage.blob.core.windows.net/avatars/reg.svg" #image alt="">
  <div class="grandParentContaniner">
    <div class="parentContainer">
      <form #form class="registrationForm" [formGroup]="registrationForm" (ngSubmit)="login(registrationForm.value)">
        <div>

          <h1>Sign Up</h1>
          <span #invalidRegistration id="invalid"></span>


          <mat-form-field floatLabel="always" hideRequiredMarker style="display: block;" >
          <label for="firstName">First Name</label>
          <mat-label></mat-label>
          <input type="text" matInput placeholder="First Name*" formControlName="firstName" />
          <div>
            <small *ngIf="registrationForm.get('firstName')?.errors?.['nameLengthError']">
                First Name has from 2 to 30 characters long.
            </small>
            <small *ngIf="registrationForm.get('firstName')?.errors?.['noNumbersCharsSpaces']">
                First Name can't contain numbers, spaces or special characters.
            </small>
          </div>
        </mat-form-field>


        <mat-form-field floatLabel="always" hideRequiredMarker style="display: block;" >
          <label for="lastName">Last Name</label>
          <mat-label></mat-label>
          <input type="text" matInput placeholder="Last Name*" formControlName="lastName" />
          <div>
            <small *ngIf="registrationForm.get('lastName')?.errors?.['nameLengthError']">
                Last Name has from 2 to 30 characters long.
            </small>
            <small *ngIf="registrationForm.get('lastName')?.errors?.['noNumbersCharsSpaces']">
                Last Name can't contain numbers, spaces or special characters.
            </small>
          </div>
        </mat-form-field>



        <mat-form-field floatLabel="always" hideRequiredMarker style="display: block;" >
          <label for="email">Email</label>
          <mat-label></mat-label>
          <input type="text" matInput placeholder="Email*" formControlName="email" />
          <div>
            <small *ngIf="registrationForm.get('email')?.errors?.['minlength']">
              Email has to be at least 5 characters long.
            </small>
            <small *ngIf="registrationForm.get('email')?.errors?.['maxlength']">
              Email can't be more than 30 characters long.
            </small>
            <small *ngIf="registrationForm.get('email')?.errors?.['email']">
              Email doesn't fit to email format. Please check your email.
            </small>
          </div>
        </mat-form-field>



        <mat-form-field floatLabel="always" hideRequiredMarker style="display: block;" >
          <label for="password">Password</label>
          <mat-label></mat-label>
          <input type="password" matInput placeholder="Password*" formControlName="password" />
          <div>
            <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">
              Password has to be at least 8 characters long.
            </small>
            <small *ngIf="registrationForm.get('password')?.errors?.['maxlength']">
              Password can't be more than 20 characters long.
            </small>
            <small *ngIf="registrationForm.get('password')?.errors?.['lowercaseLetterCheck']">
              Password has to contain at least one lowercase letter.
            </small>
            <small *ngIf="registrationForm.get('password')?.errors?.['uppercaseLetterCheck']">
              Password has to contain at least one uppercase letter.
            </small>
            <small *ngIf="registrationForm.get('password')?.errors?.['digitCheck']">
              Password has to contain at least one digit.
            </small>
            <small *ngIf="registrationForm.get('password')?.errors?.['specialCharCheck']">
              Password has to contain at least one special character.
            </small>
          </div>
        </mat-form-field>



        <mat-form-field floatLabel="always" hideRequiredMarker style="display: block;" >
          <label for="age">Age</label>
          <mat-label></mat-label>
          <input type="text" matInput placeholder="Age*" formControlName="age" />
          <div>
            <small *ngIf="registrationForm.get('age')?.errors?.['noLettersAllowed']">
                Age has to be written only with digits.
            </small>
            <small *ngIf="registrationForm.get('age')?.errors?.['ageRangeError']">
                Age has to be greater than 3 and less 102. 
            </small>
          </div>
        </mat-form-field>
         


          <label for="gender">Gender</label>
          <div>
            <small *ngIf="registrationForm.get('gender')?.errors?.['required']">
                Gender is required.
            </small>
          </div>
          <select id="gender" formControlName="gender">
            <option value="F">F</option>
            <option value="M">M</option>
          </select>

          <a id="already" href="" [routerLink]="['/typo/login']" >Already have an account? Sign In!</a>
          <button mat-raised-button>Sign Up</button>



        </div>
      </form>
    </div>
  </div>
</div>
