<div class="avg-wrapper">
    <div class="card card-speed">
        <div class="avg-name">Average Speed</div>
        <div #avgSpeed class="avg-data">{{stats.avgSymbolsPerMin}}</div>
    </div>
    <div class="card card-accuracy">
        <div class="avg-name">Average Accuracy</div>
        <div #avgAccuracy class="avg-data">{{stats.avgAccuracy}}%</div>
    </div>
    <div class="card card-time">
        <div class="avg-name">Average Time</div>
        <div #avgTime class="avg-data">{{stats.avgTime}}</div>
    </div>
</div>

<div class="share">
    <span>Help others to know us better</span>
    <div class="icons">
        <span><img src="https://typostorage.blob.core.windows.net/avatars/telegram-icone-icon.png" alt="Share Via Telegram"></span>
        <span><img src="https://typostorage.blob.core.windows.net/avatars/VK_Compact_Logo_(2021-present).svg.png" alt="Share Via VK"></span>
    </div>
</div>

<app-leader-list></app-leader-list>
<br>

    


