table {
    width: 30%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 1270px;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    // justify-content:space-between;
    justify-content: center;
    flex-wrap: wrap;
    // width: 100%;
}

.point {
    width: 370px;
    
}

#menu {
    font-size: 16px;
    color: #6b6b6b;
    padding-left: 7px;
}

a { 
    text-decoration: none;
    transition: all 0.5s ease;
}

#nav-user {
    display: flex;
    flex-flow: row;
    align-items: center;
}

#nav-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background 0.4s;
}

#nav-user-avatar:hover {
    background: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

#nav-user-name {
    font-weight: 700;
    color: #3d3d3d;
    transition: background 0.4s;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

#nav-user-name:hover {
    background: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

#nav-menu {
    padding-top: 25px;
}

#logo {
    padding: 15px;
    margin-top: 20px;
    
    text-align: center;
    color: #3d3d3d;
    font-weight: 700;
    font-size: 60px;
    text-decoration: none;
}

.go-back {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.go-back-text {
    padding-left: 4px !important;
}

.horizontal-arrow {
    padding-right: 3px !important;
}

.menu-div {
    cursor: pointer;
}





