

form {
    margin: 0 auto;
    background-color: white;
    // border: 1px solid #3d3d3d;
    box-shadow: 0 4px 6px -1px #0000001a,0 2px 4px -1px #0000000f;
    border-radius: 10px;
    padding: 20px;
    width: 400px;

}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

#container {
    width: 334px;
    height: 332px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



input {
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ececee;
    box-shadow: 0 2px 3px -1px #25252505,0 2px 4px -1px #0000000f;
    // padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input:focus {
    outline: none;
}

label {
    margin-top: 18px;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

img {
    height: 615px;
    width: 615px;
    position: absolute;
    z-index: -1;
}


.grandParentContaniner{ 
    position: absolute;
    text-align: center;
    // margin-bottom: 200px;
    justify-content: center;

}

small {
    font-size: 10px;
    display: block;
    transition: all 0.5s ease;
    color: #ec3434;
}

#invalid {
    color: #e38a8a;
}

button {
    // margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-image: none;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.25rem;
    border-width: 1px;
    border-color: #0000;
    background-color: #3d3d3d;
    color: white;
    transition: background 0.4s;
}

button:hover {
    background: #8AE393;
    color: #3d3d3d;
    
}

#yet {
    display: block;
    color: #a9a9a9;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ng-dirty.ng-invalid:not(form)  {
    border: 1px solid red ; /* red */
}

.ng-valid:not(form)  {
    border: 1px solid green;/* red */
}


//------------------



:host {
    ::ng-deep {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field {
            color: black;
            border: transparent !important;
            background-color: white;
            box-shadow: none;
            text-align: center;
            display: none;
        }
        .mat-form-field-underline {
            display: none; //
        }

        .mat-form-field-appearance {
            display: none !important;
            color: transparent;
        }

        .mat-focused .mat-form-field-outline .mat-form-field-outline-start,
        .mat-focused .mat-form-field-outline .mat-form-field-outline-gap,
        .mat-focused .mat-form-field-outline .mat-form-field-outline-end
        {
            border-bottom: none;
            border-radius: 0;
            color: transparent;
        }

        .mat-form-field-infix {
            border: transparent;
        }

        
        .mat-input-element {
            
        }
        
        ::placeholder {
            color: lightgrey;
        }


        .mat-form-field input {
            height: 20px;
            transition: height ease-in-out 400ms;
        }
        
        .mat-form-field input:focus {

        }
        // .mat-focused
        .mat-form-field-label {
            /*change color of label*/
            color: transparent !important;
           }

        .mat-form-field-ripple {
            /*change color of underline when focused*/
            background-color: transparent !important;
           }

        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
        border-radius: 0px !important;
        }

        .mat-form-field-outline {}

        .mat-form-field-fill {}

        .mat-form-field-standard {}

        .mat-button-base {
            border-radius: 0px !important;
    
        }
    }
}